In [8]:
import pandas as pd
d1={
    "name":["sri","sai","abi"],
    "age":[20,21,22]
}
d2={
    "qualified":[True,True,False]
}

In [9]:
#joining dataframe
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)
print(newdf)

  name  age
0  sri   20
1  sai   21
2  abi   22
   qualified
0       True
1       True
2      False
  name  age  qualified
0  sri   20       True
1  sai   21       True
2  abi   22      False

In [12]:
#merge
d1={
    "name":["sai","rishi","thara"],
    "age":[20,21,22]
}
d2={
    "name":["yuvi","pooja","sanjay"],
    "age":[20,21,22]
}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf1=(df2.merge(df1,on="age"))
print(newdf1)
#aliter
newdf2=(df1.merge(df2,on="age",how="left"))
print(newdf2)

    name  age
0    sai   20
1  rishi   21
2  thara   22
     name  age
0    yuvi   20
1   pooja   21
2  sanjay   22
   name_x  age name_y
0    yuvi   20    sai
1   pooja   21  rishi
2  sanjay   22  thara
  name_x  age  name_y
0    sai   20    yuvi
1  rishi   21   pooja
2  thara   22  sanjay